.models-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.stepper-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.stepper-radio-button {
  margin: 5px;
}

mat-slider {
  width: 300px;
}

.patience-slider {
  margin-top: 3%;
}
